/* Modal stylings are set here  */
/* The Modal (background) */
.modal-card {
  top: 1em;
  min-width: 50%;
  max-width: 80%;
}

/* Sets the initial style of the InfoBox */
#InfoBoxStyle {
  /* background-color: red;  #use this to visualize the background of the text */
  font-size: 18px;
  margin: 12px;
  position: relative;
  z-index: 0;
}

.CM_InfoBox {
  z-index: 1;
}

.navbar-item.is-mega {
  position: static;
}

.navbar-dropdown {
  border-bottom: unset;
  box-shadow: unset;
  background-color: unset;
  border-top: unset;
  font-size: unset;
  padding: unset;
}

.results-column {
  height: 821px;
}

.success-message {
  display: none;
}
